# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

Numbers: are numerical objects eg 0123456789
Strings:are alphabets eg abc , they are wrapped in quotations like 'a','b'
Lists: are elements in square brackets like [1,2,3,4,'A','B']
Tuples: are like list but wrapped in curly braces like{1,2,3,'A','B'} but the content are immutable ie
can't be changed.
Dictionaries: are key value pair of object eg {Name:'Bola',Age:25}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [11]:
(2+3)*(5**2) -(48/2)-0.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [ ]:
2/3

2/3 in python 2 will return 0 because the function is rounded to a whole integer\n
4 * (6 + 5) is 44\n
4 * 6 + 5  is 29\n
4 + 6 * 5 is 34

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [134]:
3 + 1.5 + 4

8.5

What is the *type* of the result of the expression 3 + 1.5 + 4?

float

What would you use to find a number’s square root, as well as its square?

'**'

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [16]:
s = 'hello'
# Print out 'e' using indexing

# Code here

Reverse the string 'hello' using indexing:

In [17]:
s[1]

'e'

In [18]:
s ='hello'

# Reverse the string using indexing

# Code here

In [19]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'

# Print out the

# Code here

In [21]:
print s[4]
print s[-1]

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [135]:
list1=[0]*3
list2=list(list1)
print list1
print list2

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [26]:
l = [1,2,[3,4,'hello']]

In [33]:
l[2][2]='goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [35]:
l = [5,3,4,6,1]

In [36]:
l.sort()
l

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [137]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [138]:
d.values()[0]
d['simple_key']

'hello'

In [60]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [65]:
d['k1']['k2']

'hello'

In [139]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [141]:
print d['k1'][0].values()[0][1][0]

hello

In [140]:
#solution
d['k1'][0]['nest_key'][1][0]

'hello'

In [142]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [143]:
d['k1'][2].values()[0][1].values()[0][2][0]

'hello'

In [144]:
#solution
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

LaTeX:α2α2
Dictionary is an unoredred collections of key values object it can not be ordered because of its unique keys. However we can order the keys to retrieve the values

## Tuples

What is the major difference between tuples and lists?

lists can hold different data types  but the element inside a list can be changed
while tuple can do thesame the element inside is immutable meaning it can't be changed

How do you create a tuple?

t=(1,2,3,'A','B')

## Sets

What is unique about a set?

Sets  are unique element which does not support duplications. it can be treted as a list but it can not hold multiple values the element in sets are unique.

Use a set to find the unique values of the list below:

In [121]:
l = [1,2,2,33,4,4,11,22,3,3,2]

In [123]:
sets=set(l)
sets

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [124]:
# Answer before running cell
2 > 3

False

In [ ]:
False

In [125]:
# Answer before running cell
3 <= 2

False

In [ ]:
False

In [126]:
# Answer before running cell
3 == 2.0

False

In [ ]:
False

In [127]:
# Answer before running cell
3.0 == 3

True

In [ ]:
True

In [128]:
# Answer before running cell
4**0.5 != 2

False

In [ ]:
False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']


False

## Great Job on your first assessment!